@using System.Linq;
@using myCoreMvc.UI.Controllers;
@using PyaFramework

@model LogInController.EnterModel

<h2 probe="LogInHeader">Log in</h2>

@if (!ViewContext.ModelState.IsValid)
{
    <div asp-validation-summary="All">Back</div>
}

 <form method="post" asp-route-returnUrl="@Context.Request.Query["returnUrl"]">
     <label>User name</label>
     <input type="text" name="@nameof(Model.UserName)" placeholder="User name" value="@Model.UserName" />
     <br />
     <label>Password</label>
     <input type="text" name="@nameof(Model.PassWord)" placeholder="Pass word" value="@Model.PassWord" />
     <br />
     <input type="submit" value="Log In" probe="LogIn" />
 </form>