@using myCoreMvc.UI.Controllers
@using myCoreMvc.Domain;
@using Py.CoreMvc

@model User
@{ ViewBag.Title = "User Details"; }

<a asp-controller="@(Short<UserListController>.Name)" asp-action="@nameof(UserListController.Index)">Back</a>

@if (@Model != null)
{
    <h3 probe="UserDetailsHeader">User details</h3>
    <br />
    <ObjectDetails object=@Model>
        <a asp-controller="@(Short<UserEnterController>.Name)" asp-action="@nameof(UserEnterController.Index)" asp-route-id="@Model.Id">Edit</a>
        <ActionWithConfirm controller-type="@typeof(UserDetailsController)" method-name="@nameof(UserDetailsController.Delete)" message="Delete this" item-name="@typeof(User).Name" route-parameter="@Model.Id" />
    </ObjectDetails>
}
else
{
    <h5>User not found!</h5>
}
