@using myCoreMvc.UI.Controllers
@using Baz.CoreMvc

@model myCoreMvc.UI.Controllers.ProductListController.ListModel
@{ ViewBag.Title = "Products";}

<h2 id="message">@Model.Message</h2>

<h3>Work Plans</h3>
<a asp-controller="@(Short<ProductEnterController>.Name)" asp-action="@nameof(ProductEnterController.Index)">Add</a>

<form asp-controller="@(Short<ProductListController>.Name)" asp-action="@nameof(ProductListController.Index)">
    <h3>Search</h3>
    <label asp-for=@Model.Search_Name>Name</label>
    <input type="text" name="Search_Name" value="@Model.Search_Name" />
    <br />
    <input type="submit" name="Search" value="Search" />
</form>
<br />

@if (Model.Items != null && Model.Items.Any())
{
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Edit</td>
            </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td><a asp-controller="@(Short<ProductDetailsController>.Name)" asp-action="@nameof(ProductDetailsController.Index)" asp-route-id="@item.Id">@item.Name</a></td>
                <td><a asp-controller="@(Short<ProductEnterController>.Name)" asp-action="@nameof(ProductEnterController.Index)" asp-route-id="@item.Id">Go</a></td>
            </tr>
        }
    </table>
}
else
{
    <div>No Products found.</div>
}
