@using myCoreMvc.UI.Controllers
@using myCoreMvc.Domain;
@using Baz.CoreMvc

@model Product
@{ ViewBag.Title = "Product Details"; }

<a asp-controller="@(Short<ProductListController>.Name)" asp-action="@nameof(ProductListController.Index)">Back</a>

@if (@Model != null)
{
    <h3>Product details</h3>
    <br />
    <ObjectDetails Object=@Model>
        <a asp-controller="@(Short<ProductEnterController>.Name)" asp-action="@nameof(ProductEnterController.Index)" asp-route-id="@Model.Id">Edit</a>
        <ActionWithConfirm controller-type="@typeof(ProductDetailsController)" method-name="@nameof(ProductDetailsController.Delete)" message="Delete this" route-parameter="@Model.Id" />
    </ObjectDetails>
}
else
{
    <h5>Product not found!</h5>
}
