@using System.Linq;
@using myCoreMvc.UI.Controllers;
@using PyaFramework.CoreMvc

@model UserSetPasswordController.EnterModel
@{ ViewBag.Title = $"Set Password"; }

<h2>
    @if (Model.Message != null && Model.Message != string.Empty)
    {<text> @Model.Message </text>}
</h2>

<a asp-controller="@(Html.ShortNameOf<UserListController>())" asp-action="@nameof(UserListController.Index)">Back</a>

@if (Model.Id == Guid.Empty)
{<h3>Add User</h3>}
else
{<h3>Set Password for @Model.Name</h3>}

<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <label asp-for=@Model.Password></label>
    <input type="text" name="Password" value="@Model.Password" />
    <br />
    <br />
    <input type="submit" name="Save" value="Save" />
</form>