@using System.Linq;
@using myCoreMvc.Controllers
@using myCoreMvc.Models;
@using PooyasFramework

@model WorkPlan
@{ ViewBag.Title = "WorkPlan Details"; }

<a asp-controller="@(Html.ShortNameOf<ListOfWorkPlansController>())" asp-action="@nameof(ListOfWorkPlansController.Index)">Back</a>
@if (@Model != null)
{
    <h3>WorkPlan details</h3>
    <a asp-controller="@(Html.ShortNameOf<EnterWorkPlanController>())" asp-action="@nameof(EnterWorkPlanController.Index)" asp-route-id="@Model.Id">Edit</a>
    <button id="delete">Delete</button>
    <br />
    <label>Name__ </label><span>@Model.Name</span>
}
else
{
    <h5>WorkPlan not found!</h5>
}

<script>
    var deleteButton = document.getElementById("delete");
    deleteButton.onclick = function () {
        var confirmed = confirm("Are you sure you want to delete this WorkPlan?");
        if (confirmed) {
        var url = window.location.origin + "/DetailsOfWorkPlan/Delete/" + "@Model.Id";
        window.location.href = url;
        }
    };
</script>