@using myCoreMvc.Controllers
@using PyaFramework.CoreMvc

@model myCoreMvc.Controllers.ListOfWorkPlansController.ListModel
@{ ViewBag.Title = "WorkPlans";
    if (true)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";  //explicitly specifies the layout for this view
    }
}

@if (Model.Message != null && Model.Message != string.Empty)
{
    <h2 id="message">@Model.Message</h2>
}

<h3>Work Plans</h3>
@(Html.LinkToAction<EnterWorkPlanController>(nameof(EnterWorkPlanController.Index), "Add"))

<form asp-controller="@(Html.ShortNameOf<ListOfWorkPlansController>())" asp-action="@nameof(ListOfWorkPlansController.Index)">
    <h3>Search</h3>
    <label asp-for=@Model.Search_Name>Name</label>
    <input type="text" name="Search_Name" value="@Model.Search_Name" />
    <br />
    <input type="submit" name="Search" value="Search" />
</form>
<br />

@if (Model.Items != null && Model.Items.Any())
{
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Edit</td>
            </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@(Html.LinkToAction<DetailsOfWorkPlanController>(nameof(DetailsOfWorkPlanController.Index), item.Name, item.Id))</td>
                <td>@(Html.LinkToAction<EnterWorkPlanController>(nameof(EnterWorkPlanController.Index), "Go", item.Id))</td>
            </tr>
        }
    </table>
}
else
{
    <div>No WorkPlans found.</div>
}
