@using System.Reflection
@using myCoreMvc.Controllers
@using PooyasFramework
@using Microsoft.Extensions.Configuration

@{var config = Context.RequestServices.GetService(typeof(IConfiguration)) as IConfiguration;}

<!DOCTYPE html>
<html>
<head>
    <title>@(ViewBag.Title ?? "myCoreMvc")</title>
</head>
<body>
    <header>
        @{
            var methodInfos = typeof(ExperimentsController).GetMethods(BindingFlags.DeclaredOnly | BindingFlags.Public | BindingFlags.Instance);
            <text>Experiments: </text>
            foreach (var methodInfo in methodInfos)
            {
                <a asp-controller="@(Html.ShortNameOf<ExperimentsController>())" asp-action="@methodInfo.Name">@methodInfo.Name</a>
            }
        }
        <br />
        <img src="~/StaticContent/Mushroom-Red-2.png" />
        @if (bool.Parse(config["ShowNavigationToUnauthenticatedUsers"]) || User.Identity.IsAuthenticated)
        {
            <a asp-controller="@(Html.ShortNameOf<ListOfWorkPlansController>())" asp-action="@nameof(ListOfWorkPlansController.Index)">WorkPlans</a>
            <a asp-controller="@(Html.ShortNameOf<ListOfWorkItemsController>())" asp-action="@nameof(ListOfWorkItemsController.Index)">WorkItems</a>
        }

        @if (User.Identity.IsAuthenticated)
        {
            <form method="post" asp-controller="@(Html.ShortNameOf<AuthController>())" asp-action="@nameof(AuthController.SignOut)" style="display: inline">
                <button type="submit">Sign Out @User.Identity.Name</button>
            </form>
        }
        else
        {
            <form method="get" asp-controller="@(Html.ShortNameOf<AuthController>())" asp-action="@nameof(AuthController.SignIn)" style="display: inline">
                <button type="submit">Sign In</button>
            </form>
        }
    </header>

    @RenderBody()

    <footer>
        @Html.Partial("Footer")
    </footer>
</body>
</html>
