@using System.Reflection
@using myCoreMvc.Controllers
@using PooyasFramework
@using Microsoft.Extensions.Configuration

@{var config = Context.RequestServices.GetService(typeof(IConfiguration)) as IConfiguration;}

<!DOCTYPE html>
<html>
<head>
    <title>@(ViewBag.Title ?? "myCoreMvc")</title>
</head>
<body>
    <header>
        @{
            var methodInfos = typeof(ExperimentsController).GetMethods(BindingFlags.DeclaredOnly | BindingFlags.Public | BindingFlags.Instance);
            <text>Experiments: </text>
            foreach (var methodInfo in methodInfos)
            {
                @(Html.LinkToAction<ExperimentsController>(methodInfo.Name, methodInfo.Name))<span class="separator"></span>
            }
        }
        <br />
        <img src="~/StaticContent/Mushroom-Red-2.png" />
        @if (bool.Parse(config["ShowNavigationToUnauthenticatedUsers"]) || User.Identity.IsAuthenticated)
        {
            @(Html.LinkToAction<ListOfWorkPlansController>(nameof(ListOfWorkPlansController.Index), "WorkPlans"))<span class="separator"></span>
            @(Html.LinkToAction<ListOfWorkItemsController>(nameof(ListOfWorkItemsController.Index), "WorkItems"))<span class="separator"></span>
            @(Html.LinkToAction<Level1OnlyController>(nameof(Level1OnlyController.Index), AuthConstants.Level1PolicyName))<span class="separator"></span>
            @(Html.LinkToAction<Level2OnlyController>(nameof(Level2OnlyController.Index), AuthConstants.Level2PolicyName))<span class="separator"></span>
            @(Html.LinkToAction<ListOfUsersController>(nameof(ListOfUsersController.Index), Html.ShortNameOf<ListOfUsersController>()))
        }

        @if (User.Identity.IsAuthenticated)
        {
            <form method="post" asp-controller="@(Html.ShortNameOf<AuthController>())" asp-action="@nameof(AuthController.SignOut)" style="display: inline">
                <button type="submit">Sign Out @User.Identity.Name</button>
            </form>
        }
        else
        {
            <form method="get" asp-controller="@(Html.ShortNameOf<AuthController>())" asp-action="@nameof(AuthController.SignIn)" style="display: inline">
                <button type="submit">Sign In</button>
            </form>
        }
    </header>

    @RenderBody()

    <footer>
        @Html.Partial("Footer")
    </footer>
</body>
</html>
