@using System.Linq;
@using myCoreMvc.Controllers;
@using PooyasFramework

@model EnterUserController.EnterModel
@{ ViewBag.Title = "User Details"; }

<h2>
    @if (Model.Message != null && Model.Message != string.Empty)
    {<text> @Model.Message </text>}
</h2>

@(Html.LinkToAction<ListOfUsersController>(nameof(ListOfUsersController.Index), "Back"))

@if (Model.Id == Guid.Empty)
{<h3>Add User</h3>}
else
{<h3>Edit User</h3>}

<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <label asp-for=@Model.Name></label>
    <input type="text" name="Name" value="@Model.Name" /><span asp-validation-for="Name"></span>
    <br />
    <label asp-for=@Model.DateOfBirth></label>
    <input type="date" name="DateOfBirth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" min="1900-01-01" max="@DateTime.Today.ToString("yyyy-MM-dd")" />
    <br />
    <label asp-for=@Model.Role></label>
    <select asp-for=@Model.Role asp-items=Model.RoleChoices></select>
    <br />
    <br />
    <input type="submit" name="Save" value="Save" />
</form>