@using myCoreMvc.UI.Controllers
@using PyaFramework.CoreMvc

@model myCoreMvc.UI.Controllers.WorkItemListController.ListModel
@{ ViewBag.Title = "WorkItems";}

@if (Model.Message != null && Model.Message != string.Empty)
{
    <h2 id="message">@Model.Message</h2>
}

<h3>Work Items</h3>
<a asp-controller="@(Html.ShortNameOf<WorkItemEnterController>())" asp-action="@nameof(WorkItemEnterController.Index)">Add</a>

<form asp-controller="@(Html.ShortNameOf<WorkItemListController>())" asp-action="@nameof(WorkItemListController.Index)">
    <h3>Search</h3>
    <label asp-for=@Model.Search_All>All</label>
    <input type="text" name="Search_All" value="@Model.Search_All" />
    <br />
    <label asp-for=@Model.Search_Reference>Reference</label>
    <input type="text" name="Search_Reference" value="@Model.Search_Reference" />
    <br />
    <label asp-for=@Model.Search_Name>Name</label>
    <input type="text" name="Search_Name" value="@Model.Search_Name" />
    <br />
    <label asp-for=@Model.Search_Priority>Priority</label>
    <input type="text" name="Search_Priority" value="@Model.Search_Priority" />
    <br />
    <input type="submit" name="Search" value="Search" />
</form>
<br />

@if (Model.Items != null && Model.Items.Any())
{
    <table data-element="WorkItemList">
        <thead>
            <tr>
                <td>WorkPlan</td>
                <td>Reference</td>
                <td>Name</td>
                <td>Priority</td>
                <td>Edit</td>
            </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
            <tr data-element="@item.Name">
                <td data-element="WorkPlan">@item.WorkPlan</td>
                <td data-element="Reference"><a asp-controller="@(Html.ShortNameOf<WorkItemDetailsController>())" asp-action="@nameof(WorkItemDetailsController.Index)" asp-route-id="@item.Id">@item.Reference</a></td>
                <td data-element="Name">@item.Name</td>
                <td data-element="Priority">@item.Priority</td>
                <td data-element="Edit"><a asp-controller="@(Html.ShortNameOf<WorkItemEnterController>())" asp-action="@nameof(WorkItemEnterController.Index)" asp-route-id="@item.Id">Go</a></td>
            </tr>
        }
    </table>
}
else
{
    <div>No WorkItems found.</div>
}
