@using System.Linq;
@using myCoreMvc.Controllers;
@using PooyasFramework

@model AuthController.EnterModel

<h2>
    Log in
</h2>

@if (!ViewContext.ModelState.IsValid)
{
    <div asp-validation-summary="All">Back</div>
}

 <form method="post" asp-route-returnUrl="@Context.Request.Query["returnUrl"]">
     <label>User name</label>
     <input type="text" name="@nameof(Model.UserName)" placeholder="User name" value="@Model.UserName" />
     <br />
     <label>Password</label>
     <input type="text" name="@nameof(Model.PassWord)" placeholder="Pass word" value="@Model.PassWord" />
     <br />
     <input type="submit" name="Save" value="Save" />
 </form>