@using System.Linq;
@using myCoreMvc.Models;

@model WorkItem
@{ ViewBag.Title = "WorkItem Details"; }

<a asp-controller="ListOfWorkItems" asp-action="Index">Back</a>
@if (@Model != null)
{
    <h3>WorkItem details</h3>
    <a asp-controller="EnterWorkItem" asp-action="Index" asp-route-id="@Model.Id">Edit</a>
    <br />
    <label>WorkPlan__ </label><span>@Model.WorkPlan</span>
    <br />
    <label>Reference__ </label><span>@Model.Reference</span>
    <br />
    <label>Name__ </label><span>@Model.Name</span>
    <br />
    <label>Priority__ </label><span>@Model.Priority</span>
}
else
{
    <h5>WorkItem not found!</h5>
}