@using System.Linq;
@using myCoreMvc.Models;
@using myCoreMvc.Controllers
@using PooyasFramework

@model WorkItem
@{ ViewBag.Title = "WorkItem Details"; }

<a asp-controller="@(Html.ShortNameOf<ListOfWorkItemsController>())" asp-action="@nameof(ListOfWorkItemsController.Index)">Back</a>
@if (@Model != null)
{
    <h3>WorkItem details</h3>
    <a asp-controller="@(Html.ShortNameOf<EnterWorkItemController>())" asp-action="@nameof(EnterWorkItemController.Index)" asp-route-id="@Model.Id">Edit</a>
    <button id="delete">Delete</button>
    <br />
    <label>WorkPlan__ </label><span>@Model.WorkPlan</span>
    <br />
    <label>Reference__ </label><span>@Model.Reference</span>
    <br />
    <label>Name__ </label><span>@Model.Name</span>
    <br />
    <label>Priority__ </label><span>@Model.Priority</span>
}
else
{
    <h5>WorkItem not found!</h5>
}

<script>
    var deleteButton = document.getElementById("delete");
    deleteButton.onclick = function () {
        var confirmed = confirm("Are you sure you want to delete this WorkItem?");
        if (confirmed) {
        var url = window.location.origin + "/DetailsOfWorkItem/Delete/" + "@Model.Id";
        window.location.href = url;
        }
    };
</script>