@model ListOfWorkItemsController.ListModel
@{ ViewBag.Title = "The list page";
    if (true)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";  //explicitly specifies the layout for this view
    }
}

@if (Model.Message != null && Model.Message != string.Empty)
{
    <h2>@Model.Message</h2>
}

<h3>List of Work Items</h3>
<a asp-action="Enter">Add</a>
@if (Model.Items != null && Model.Items.Any())
{
    <table>
        <thead>
            <tr>
                <td>Reference</td>
                <td>Name</td>
                <td>Priority</td>
                <td>Edit</td>
            </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td><a asp-action="Details" asp-route-id="@item.Id">@item.Reference</a></td>
                <td>@item.Name</td>
                <td>@item.Priority</td>
                <td><a asp-action="Enter" asp-route-id="@item.Id">Go</a></td>
            </tr>
        }
    </table>
}

@section Footer {
    <p>Some footer here</p>
}