@using System.Linq;
@using myCoreMvc;

@model ListOfWorkItemsController.EnterModel

<h3>This is the enter page</h3>
<a asp-action="Index">Back</a>
@if (Model != null)
{
    <form method="post">
        <label>Id</label>
        <input type="text" name="Id" value="@Model.Id" />
        <br />
        <label asp-for="Name"></label>
        <input type="text" name="Name" value="@Model.Name" /><span asp-validation-for="Name"></span>
        <br />
        <label>Priority</label>
        <select name="Priority">
            @foreach (var option in Model.PriorityChoices)
            {
                <option value="@option">@option</option>
            }
        </select>
        <br />
        <input type="submit" name="Save" value="Save" />
    </form>
}
else
{
    <form method="post">
        <label>Id</label>
        <input type="text" name="Id" />
        <br />
        <label asp-for="Name"></label>
        <input type="text" name="Name" /><span asp-validation-for="Name"></span>
        <br />
        <label>Priority</label>
        <select name="Priority">
            @foreach (var option in Model.PriorityChoices)
            {
                <option value="@option">@option</option>
            }
        </select>
        <br />
        <input type="submit" name="Save" value="Save" />
    </form>
}