@model ListOfWorkItemsController.ListModel
@{ ViewBag.Title = "WorkItems";
    if (true)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";  //explicitly specifies the layout for this view
    }
}

@if (Model.Message != null && Model.Message != string.Empty)
{
    <h2>@Model.Message</h2>
}

<h3>Work Items</h3>
<a asp-controller="EnterWorkItem" asp-action="Index">Add</a>

<form asp-controller="ListOfWorkItems" asp-action="Index">
    <h3>Search</h3>
    <label asp-for="Search_All">All</label>
    <input type="text" name="Search_All" value="@Model.Search_All" />
    <br />
    <label asp-for="Search_Reference">Reference</label>
    <input type="text" name="Search_Reference" value="@Model.Search_Reference" />
    <br />
    <label asp-for="Search_Name">Name</label>
    <input type="text" name="Search_Name" value="@Model.Search_Name" />
    <br />
    <label asp-for="Search_Priority">Priority</label>
    <input type="text" name="Search_Priority" value="@Model.Search_Priority" />
    <br />
    <input type="submit" name="Search" value="Search" />
</form>
<br />

@if (Model.Items != null && Model.Items.Any())
{
    <table>
        <thead>
            <tr>
                <td>WorkPlan</td>
                <td>Reference</td>
                <td>Name</td>
                <td>Priority</td>
                <td>Edit</td>
            </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.WorkPlan</td>
                <td><a asp-controller="DetailsOfWorkItem" asp-action="Index" asp-route-id="@item.Id">@item.Reference</a></td>
                <td>@item.Name</td>
                <td>@item.Priority</td>
                <td><a asp-controller="EnterWorkItem" asp-action="Index" asp-route-id="@item.Id">Go</a></td>
            </tr>
        }
    </table>
}
else
{
    <div>No WorkItems found.</div>
}
