@using myCoreMvc.UI.Controllers
@using PyaFramework.CoreMvc

@model myCoreMvc.UI.Controllers.UserListController.ListModel
@{ ViewBag.Title = "Users";}

@if (Model.Message != null && Model.Message != string.Empty)
{
    <h2 id="message">@Model.Message</h2>
}

<h3 data-elem="UserListHeader">Users</h3>
<a asp-controller="@(Html.ShortNameOf<UserEnterController>())" asp-action="@nameof(UserEnterController.Index)">Add</a>

<form asp-controller="@(Html.ShortNameOf<UserListController>())" asp-action="@nameof(UserListController.Index)">
    <h3>Search</h3>
    <label asp-for=@Model.Search_Name>Name</label>
    <input type="text" name="Search_Name" value="@Model.Search_Name" />
    <br />
    <input type="submit" name="Search" value="Search" />
</form>
<br />

@if (Model.Items != null && Model.Items.Any())
{
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Id</td>
                <td>Hash</td>
                <td>DateOfBirth</td>
                <td>Role</td>
                <td>Edit</td>
                <td>Set Password</td>
            </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
            <tr data-elem="@item.Name">
                <td data-elem="Name">
                    <a asp-controller="@(Html.ShortNameOf<UserDetailsController>())" asp-action="@nameof(UserDetailsController.Index)" asp-route-id="@item.Id">@item.Name</a>
                </td>
                <td data-elem="Id">@item.Id</td>
                <td data-elem="Hash">@item.Hash</td>
                <td data-elem="DateOfBirth">@item.DateOfBirth.ToShortDateString()</td>
                <td data-elem="Role">@item.Role</td>
                <td data-elem="Edit">
                    <a asp-controller="@(Html.ShortNameOf<UserEnterController>())" asp-action="@nameof(UserEnterController.Index)" asp-route-id="@item.Id">Go</a>
                </td>
                <td data-elem="SetPassword">
                    <a asp-controller="@(Html.ShortNameOf<UserSetPasswordController>())" asp-action="@nameof(UserSetPasswordController.Index)" asp-route-id="@item.Id">Go</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>No Users found.</div>
}
