@using System.Linq;
@using myCoreMvc.UI.Controllers;
@using Baz.CoreMvc

@model ProductEnterController.EnterModel
@{ ViewBag.Title = "Product Details"; }

<h2 id="message">@Model.Message</h2>

<a asp-controller="@(Short<ProductListController>.Name)" asp-action="@nameof(ProductListController.Index)">Back</a>

@if (Model.Id == Guid.Empty)
{<h3>Add Product</h3>}
else
{<h3>Edit Product</h3>}

<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <label asp-for=@Model.Name></label>
    <input type="text" name="Name" value="@Model.Name" /><span asp-validation-for="Name"></span>
    <br />
    <br />
    <input type="submit" name="Save" value="Save" />
</form>